@{
    ViewBag.Title = "contactManager";
}

<div>

    <form method="post" action="~/CommandCenter/getContact/">

        <input type="text" name="contactName"/>
        <input type="submit" />

    </form>

</div>
