@{
    ViewBag.Title = "getCallLog";
}
<div class="metro">

    <div class="panel span12" data-role="panel">
        <div class="panel-header bg-lightBlue">
            Device Info
        </div>
        <div class="panel-content">

            <table>
                <tr>
                    <td>Phone Number</td>
                    <td>@ViewBag.callDetails.phoneNumber</td>
                </tr>
               
            </table>
            
        </div>
</div>

</div>

