<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="/User/">Home</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">Command & Control</a></li>

</ul>

<div class="metro span10" style="width:auto">

    <div class="span20">
        <div class="row">
            <a href="getLocation/">
            <div class="tile bg-magenta span3">
            <div class="tile-content icon">
                <i class="icon-location"></i>
            </div>
        </div>
        </a>
       
        <a href="messageManager/">
            <div class="tile bg-red span3">
            <div class="tile-content icon">
                <i class="icon-mail on-left"></i>
            </div>
           
        </div>
        </a>
    
        <a href="getDeviceInfo/">
            <div class="tile bg-yellow span3">
            <div class="tile-content icon">
                <i class=" icon-mobile"></i>
            </div>
        </div>
        </a>
        <a href="contactManager/">

        <div class="tile bg-green span3">
            <div class="tile-content icon">
                <i class="icon-book"></i>
            </div>  
        </div>
        </a>

        
      
        
    <a href="getCallLog/">

        <div class="tile bg-green span3">
            <div class="tile-content icon">
                <i class="icon-phone"></i>
            </div>  
        </div>
    </a>
    
    <a href="dummy1/">

        <div class="tile bg-black span3">
            <div class="tile-content icon">
                <i class="icon-camera"></i>
            </div>  
        </div>
    </a>
    <a href="activateAlarm/">

        <div class="tile bg-black span3">
            <div class="tile-content icon">
                <i class="icon-volume-2"></i>
            </div>  
        </div>
    </a>
            <a href="changeProfileMode/">

        <div class="tile bg-black span3">
            <div class="tile-content icon">
                <i class="icon-volume"></i>
            </div>  
        </div>
    </a>
        <a href="getCallLog/">

        <div class="tile bg-black bg-hover-green span3">
            <div class="tile-content icon">
                <i class="icon-cancel-2"></i>
            </div>  
        </div>
    </a>

            <a href="getCallLog/">

        <div class="tile bg-black span3">
            <div class="tile-content icon">
                <i class="icon-cancel-2"></i>
            </div>  
        </div>
    </a>
            <a href="getCallLog/">

        <div class="tile bg-black span3">
            <div class="tile-content icon">
                <i class="icon-cancel-2"></i>
            </div>  
        </div>
    </a>

   </div>
   </div>
</div>
