@{
    ViewBag.Title = "messageManager";
}
<div>

    <form method="post" action="~/CommandCenter/getInbox/">

        <input type="text" name="phone"/>
        <input type="submit" />

    </form>

</div>