@{
    ViewBag.Title = "profileSettings";
}
<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="/User/">Home</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">Profile Settings</a></li>
			</ul>
<h2>profileSettings</h2>
